@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: black;
    background-image: radial-gradient(rgb(55, 55, 55) 1px, transparent 0);
    background-size: 30px 30px;
    background-position: -19px -19px;
}